pin-depends: [
  ["simple_smt.~dev" "git+https://github.com/NatKarmios/simple-smt-ocaml#94a891e7fb552ecaff57bbe5b9f4e4e5c1aed145"]
  ["sedap.~dev" "git+https://github.com/GillianPlatform/ocaml-sedap#06eb470325e62ef9b9af1fe842071597be5449c1"]
]