.node-content {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--vscode-editor-foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.node-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 1px;
  background: linear-gradient(to right, var(--background), var(--background));
  border: 1px solid var(--vscode-editorCursor-foreground);
}

.node-selected .node-content {
  color: var(--vscode-editor-selectionForeground, var(--vscode-editor-foreground));
}

.node-selected .node-background {
  background:
    linear-gradient(to right, var(--vscode-editor-selectionBackground), var(--vscode-editor-selectionBackground)),
    linear-gradient(to right, var(--background), var(--background));
  width: calc(100% - 7px);
  height: calc(100% - 7px);
  border: 3.5px double var(--vscode-editorCursor-foreground);
}

.node-empty .node-background {
  border-radius: 100%;
  border-style: dashed;
}

.node-root .node-background {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 0;
  border-width: 3px;
}

.node-root .node-content {
  font-size: 16px;
}

.node-content pre {
  margin: 0;
  text-align: center;
  width: calc(100% - 10px);
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: var(--vscode-editor-font-family);
}

.node-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
