name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  merge_group:
  workflow_dispatch:
    inputs:
      docker-tag:
        type: string
        description: "Docker tag; leave blank to use the branch name."

env:
  NODE_VERSION: 18
  LOCAL_DOCKER_IMG: gillian-src:local
  DOCKER_IMG_PRE: ghcr.io/gillianplatform/

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        operating-system: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - &SETUP_Z3
        name: Setup Z3
        id: z3
        uses: cda-tum/setup-z3@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Print Z3 version
        run: z3 --version
      - uses: actions/checkout@v4
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "5.3.0"
      - name: Restore Cache
        id: restore-cache
        uses: actions/cache@v4
        env:
            cache-name: cache-ocaml
        with:
          path: _opam
          key: ${{ runner.os }}-${{ env.cache-name }}-ocaml-5.3.0-${{ hashFiles('**.opam') }}
      - name: Install dependencies
        run: make init-ci
      - name: Build Gillian
        run: opam exec -- dune build @all
      - name: Basic tests
        run: opam exec -- dune test
      - name: Wisl checks
        run: opam exec -- dune exec -- bash ./wisl/scripts/quicktests.sh
      - name: Format checking
        run: opam exec -- dune fmt
      - name: Build and compress binaries
        run: |
          mkdir _dist
          opam exec -- dune install --relocatable --prefix ./_dist
          cd _dist
          zip -r ../gillian-${{ runner.os }}.zip ./*
          cd ..
          rm -rf ./_dist
      - name: Sending artifact
        uses: actions/upload-artifact@v4
        with:
          name: gillian-${{ runner.os }}.zip
          path: gillian-${{ runner.os }}.zip
      - name: Building API docs
        run: make docs
        if: runner.os == 'Linux'
      - name: Sending docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-docs
          path: _docs/gillian/Gillian
        if: runner.os == 'Linux'
      - name: Setting dependency cache
        run: opam clean
        if: steps.restore-cache.outputs.cache-hit != 'true'

  gillian_c_tests:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    needs: build
    steps:
      - *SETUP_Z3
      - &DOWNLOAD_ARTIFACT
        name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: gillian-${{ runner.os }}.zip
      - &INSTALL_ARTIFACT
        name: Extract and install Gillian
        run: |
          sudo unzip gillian-${{ runner.os }}.zip -d /usr/local > /dev/null
          rm gillian-${{ runner.os }}.zip
      - uses: actions/checkout@v4
      - name: init env
        run: "Gillian-C/scripts/setup_environment.sh"
      - name: Test All
        run: "./testAll.sh"
        working-directory: "Gillian-C/environment/"
      - name: Test Amazon
        run: "make"
        working-directory: "Gillian-C/examples/amazon/"

  gillian_js_tests:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    needs: build
    steps:
      - *SETUP_Z3
      - *DOWNLOAD_ARTIFACT
      - *INSTALL_ARTIFACT
      - uses: actions/checkout@v4
      - name: init env
        run: "Gillian-JS/scripts/setup_environment.sh"
      - name: Test JaVerT
        run: "./testJaVerT.sh"
        working-directory: "Gillian-JS/environment/"
      # - name: Test Amazon
      #   run: "make"
      #   working-directory: "Gillian-JS/Examples/Amazon/"

  gillian_c2_tests:
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    needs: build
    steps:
      - *SETUP_Z3
      - name: install CBMC
        run: |
          curl -L -o cbmc.deb https://github.com/diffblue/cbmc/releases/download/cbmc-5.14.3/cbmc-5.14.3-Linux.deb
          sudo dpkg -i cbmc.deb
          rm cbmc.deb
      - *DOWNLOAD_ARTIFACT
      - *INSTALL_ARTIFACT
      - uses: actions/checkout@v4
      - name: init env
        run: "Gillian-C2/scripts/setup_environment.sh"
      - name: Test All
        run: "./testAll.sh"
        working-directory: "Gillian-C2/environment/"

  test262:
    if: ( github.event_name == 'pull_request') && ( github.base_ref == 'master')
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    needs: build
    steps:
      - *SETUP_Z3
      - *DOWNLOAD_ARTIFACT
      - *INSTALL_ARTIFACT
      - name: Checkout javert-test262
        uses: actions/checkout@v4
        with:
          repository: GillianPlatform/javert-test262
          path: test262
          ref: 93e0d0b04093cabc3234a776eec5cc3e165f3b1a
      - name: Test262
        run: "gillian-js test262 test262/test --ci"

  collections-c:
    if: ( github.event_name == 'pull_request') && ( github.base_ref == 'master')
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
    runs-on: ${{ matrix.operating-system }}
    needs: build
    steps:
      - *SETUP_Z3
      - *DOWNLOAD_ARTIFACT
      - *INSTALL_ARTIFACT
      - name: Checkout collections-c-for-gillian
        uses: actions/checkout@v4
        with:
          repository: GillianPlatform/collections-c-for-gillian
          path: collections-c
          ref: ffa76e788a1fbdb67910bb7b794214ebc22c1b8c
      - name: Symbolic Testing Collections-C
        run: "bash ./scripts/gillian-compcert/runTests.sh"
        working-directory: collections-c

  # test-Buckets:
  #   if: ( github.event_name == 'pull_request') && ( github.base_ref == 'master')
  #   strategy:
  #     matrix:
  #       operating-system: [macos-latest]
  #   runs-on: ${{ matrix.operating-system }}
  #   needs: build
  #   steps:
  #     - *SETUP_Z3
  #     - *DOWNLOAD_ARTIFACT
  #     - *INSTALL_ARTIFACT
  #     - uses: actions/checkout@v4
  #     - name: Symbolic Testing Buckets.js
  #       run: "gillian-js cosette-bulk Gillian-JS/Examples/Cosette/Buckets --ci"

  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v2
      - name: Restore Cache
        id: restore-cache
        uses: actions/cache@v4
        env:
            cache-name: cache-ocaml
        with:
          path: .docker_opam_cache
          key: docker-${{ env.cache-name }}-ocaml-5.3.0-${{ hashFiles('**.opam') }}
          restore-keys: |
            docker-${{ env.cache-name }}-ocaml-5.3.0
      - name: Build and export docker image
        uses: docker/build-push-action@v4
        with:
          file: docker/Dockerfile.build
          context: .
          tags: ${{ env.LOCAL_DOCKER_IMG }}
          outputs: type=docker, dest=${{ runner.temp }}/docker.tar
      - name: Upload docker image
        uses: actions/upload-artifact@v4
        with:
          name: gillian-src-docker
          path: ${{ runner.temp }}/docker.tar
      - name: Load image
        run: |
          docker load --input ${{ runner.temp }}/docker.tar
          docker image ls -a
      - name: Dune test
        run: docker run --rm ${{ env.LOCAL_DOCKER_IMG }} opam exec -- dune test
      - name: Extract cache
        if: steps.restore-cache.outputs.cache-hit != 'true'
        run: |
          rm -rf .docker_opam_cache
          docker run --name deps ${{ env.LOCAL_DOCKER_IMG }} bash -c "opam clean"
          docker cp deps:/home/opam/.opam/5.3 ./.docker_opam_cache
          docker rm deps

  docker-push:
    runs-on: ubuntu-latest
    needs: docker-build
    if: ${{ contains(fromJSON('["push", "workflow_dispatch", "release"]'), github.event_name) }}
    strategy:
      matrix:
        include:
          - image: wisl
            packages: wisl
            no_cbmc: 1
          - image: gillian
            packages: "wisl gillian-c gillian-js gillian-c2"
            no_cbmc: ""
          - image: gillian-extra
            packages: ""
            no_cbmc: ""
    env:
      DOCKER_TAG_RAW: ${{ github.event.inputs.docker-tag || (github.ref_name == 'master' && 'nightly' || github.ref_name) }}
    steps:
      - name: Download base image
        uses: actions/download-artifact@v4
        with:
          name: gillian-src-docker
          path: ${{ runner.temp }}
      - name: Load image
        run: |
          docker load --input ${{ runner.temp }}/docker.tar
          docker image ls -a
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set docker tag
        run: echo "DOCKER_TAG=$DOCKER_TAG_RAW" | tr "/" "-" >> "$GITHUB_ENV"
      - name: Build and export docker image
        uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile.dist
          tags: ${{ env.DOCKER_IMG_PRE }}${{ env.image }}:${{ env.DOCKER_TAG }}
          build-args: |
            packages=${{ env.packages }}
            no_cbmc=${{ env.no_cbmc }}
          push: true

  deploy-docs:
    if: github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
      - name: Download built docs
        uses: actions/download-artifact@v4
        with:
          name: api-docs
          path: odoc
      - name: Deploy docs
        run: |
          git config --global user.email "<>"
          git config --global user.name "GitHub Actions"
          git clone https://${{ secrets.DOCS_USER }}:${{ secrets.DOCS_TOKEN }}@github.com/GillianPlatform/GillianPlatform.github.io.git docs-repo --branch master
          cd docs-repo
          rm odoc -rf
          mv ../odoc ./odoc
          if [ -n "$(git status --porcelain=v1)" ]
          then
            git add -A
            git commit -m "API docs update from $GITHUB_REPOSITORY@$GITHUB_SHA"
            git push
          else
            echo "No changes detected; not pushing."
          fi
